html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #111;
}
img {
  display: inline-block;
  margin-bottom: 20px;
}

a, a:visited {
  color: #000;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

.modern-browser-alert {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
