html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #F9F9F9;
  color: #111;
}

a, a:visited {
  color: #000;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

.content__wrapper {
  height: 100%;
  position: relative;
}

.content__wrapper:before,
.content__wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}

.content__wrapper:before {
  left: 0;
  /*background-image: url("https://i.letu.ru/common/img/site/oldbrowser/img_left.jpg");*/
  background-position: 0 0;
  display: none;
}
.content__wrapper:after {
  right: 0;
  /*background-image: url("https://i.letu.ru/common/img/site/oldbrowser/img_right.jpg");*/
  background-position: 100% 0;
}

.content__center {
  margin: 0 auto;
  padding: 20px;
  max-width: 320px;
  position: relative;
}

.content__logo {
  max-width: 205px;
  display: block;
  margin: 0 auto;
}

.content__title {
  font-size: 30px;
  line-height: 1.42;
  margin-bottom: 1em;
  font-weight: 600;
  margin-top: 25%;
}

.link-list {
  margin-top: 40px;
}

.link-list a {
  width: 120px;
  display: block;
  text-align: left;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 32px;
  vertical-align: middle;
  text-decoration: none;
}

.link-list a img {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding-right: 5px;
}

.link-list a span {
  text-decoration: underline;
}
.link-list a:hover span,
.link-list a:focus span {
  text-decoration: none;
}

.link-list span {
  display: inline-block;
}

@media only screen and (min-width: 900px) {
  .content__logo {
    margin: 0;
  }

  .content__wrapper:before,
  .content__wrapper:after {
    width: 50%;
  }

  .content__wrapper:before {
    display: block;
  }

  .content__wrapper:after {
    /*background-image: url("https://i.letu.ru/common/img/site/oldbrowser/img_right.jpg");*/
  }

  .content__center {
    padding: 10% 0 0 0;
    margin: 0 auto;
    max-width: 600px;
  }

  .content__title {
    font-size: 40px;
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  .content__title {
    font-size: 48px;
  }
}
